 /* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: none;
    border-radius: none;
    background-color: cornflowerblue;
}

.navbar-header {
    background-color: cornflowerblue;
}

.jumbotron {
    font-family: 'Times New Roman', Times, serif, Arial black, Tahoma, Serif;
    background-color: cornflowerblue;padding: 0%;
}
    
.container-fluid1{
    /* color: cornflowerblue; */

}

p {
    color: red;
    padding-top: 10%;
    margin: 2%;
}
  
footer {
    background-color: cornflowerblue;
    padding: 25px;
}

.bg-1 {
    background-image: url(/images/tech.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding: 0%;
    margin: 0%;
}

.bg-3 {
    background-image: url(/images/blue-smiles.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    justify-content: center;
    padding: 0%;
    margin: 0%;
}

#home-img {
    border-radius: 1000px;
    
}

 