 /* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: gold;
}

.navbar-header {
    background-color: gold;
}
  
  /* Add a gray background color and some padding to the footer */
footer {
    background-color: goldenrod;
    padding: 25px;
}

.bg-1 {
    background-image: url(/images/tech.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding: 0%;
    margin: 0%;
}

.jumbotron {
    background-color: blue;
}

img {
    border-radius: 1000px;
}

iframe {
    background-color: red;
    /* overflow: none; */
    overflow-y: hidden;
    overflow-x: hidden;
}
 